.button {
  background: var(--harvest-green);
  color: white;

  padding: 12px 24px;

  border-radius: var(--radius-lg);

  transition: var(--transition);

  font-size: 16px;
  font-weight: 500;
}

.button:hover {
  background: var(--earth-brown);
}